<form #searchForm="ngForm" class="mb-3" (ngSubmit)="getHeroSearch(searchForm)">
    <div class="d-flex gap-2 align-items-center">
        <label for="input" class="form-label mb-0"><img src="/lupa.png" alt=""></label>
        <input id="input" name="input" type="text" (input)="getHeroSearch(searchForm)" class="form-control-md" [(ngModel)]="searchInput" placeholder="Búsqueda por nombre">
        
        <!-- <input type="submit" value="Aceptar" class="btn btn.sm btnAceptar"> -->
    </div>
</form>